<div class="header">
    <a href="/" class="header-link"><div class="header-logo">G Barter</div></a>
    <a href="/search" class="header-link"><div class="header-text">Find Gigs</div></a>
    <a href="/dash" class="header-link" style="margin-right: auto; padding-left: 16px;"><div class="header-text">Dashboard</div></a>
    
    <a href="/chat" class="header-link">
        <div class="header-icon">
            <img src="/assets/icons/message.svg" class="icon" alt="Messages">
        </div>
    </a>

    <div class="header-buttons" id="header-buttons">
        <a href="/login" class="header-link"><div class="header-button">Log in</div></a>
        <a href="/signup" class="header-link"><div class="header-button-invert">Join</div></a>
    </div>

    <div class="header-profile" id="header-profile">
        <div class="header-text" id="header-profile-text">User Name</div>
        <div class="header-icon" id="logout-btn">
            <img src="/assets/icons/logout.svg" class="icon" alt="Logout">
        </div>
    </div>
</div>