<div class="header">
    <a href="/" class="header-link"><div class="header-logo">G Barter</div></a>
    <a href="/gigs" class="header-link header-text"><div class="header-text">
        Gigs</div></a>
    <div class="header-icon">
        <img class="icon" src="/assets/icons/message.svg" alt="messages">
    </div>
    <div class="header-buttons" id="header-buttons">
        <a href="/login" class="header-link">
            <div class="header-button">Login</div></a>
        <a href="/signup" class="header-link">
            <div class="header-button-invert">Signup</div></a>
    </div>
    <div class="header-profile" id="header-profile">
        <span id="header-profile-text">Hassan Iqbal</span>
        <div class="header-icon" id="logout">
            <img class="icon" src="/assets/icons/logout.svg" alt="logout">
        </div>
    </div>
</div>